<a href="https://colab.research.google.com/github/BryanChauca/PortfolioProjects/blob/main/Calling_API_and_upload_to_database_(AWS)_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the API call and all the information to a database in the cloud (AWS)

In [20]:
!pip install psycopg2
!pip install psycopg2-binary
import psycopg2 as ps
import pandas as pd

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.7/dist-packages (2.9.3)

In [21]:
def connect_to_db(host_name, dbname, port, username, password):
  try:
      conn = ps.connect(host=host_name, database=dbname, port=port, user=username, password=password)

  except ps.OperationalError as e:
    raise e
  else:
    print('Connected!')
  return conn

In [56]:
host_name = 'databaseyoutube.cak2dhjeabkv.us-east-1.rds.amazonaws.com'
dbname = 'database_yt_test'
port = '5432'
username = 'bryanchaucaf'
password = 'Chaucamemo1!'
conn = None

conn = connect_to_db(host_name, dbname, port, username, password)

Connected!

In [28]:
#create table
def create_table(curr):
  create_table_command = ("""CREATE TABLE IF NOT EXISTS videos(
                    video_id VARCHAR(225) PRIMARY KEY,
                    video_title TEXT NOT NULL,
                    upload_date DATE NOT NULL DEFAULT CURRENT_DATE,
                    view_count INTEGER NOT NULL,
                    like_count INTEGER NOT NULL,
                    comment_count INTEGER NOT NULL)""")
  
  curr.execute(create_table_command)

In [46]:
#check if video exist
def check_if_video_exist(curr, video_id):
    query = ("""SELECT video_id FROM VIDEOS WHERE video_id = %s""")
    curr.execute(query, (video_id,))

    return curr.fetchone() is not None #return a single row from the table

In [55]:
#write the insert command

def insert_into_table(curr, video_id, video_title, upload_date, view_count, like_count, comment_count):
  
  
  insert_into_videos = ("""INSERT INTO videos (video_id, video_title, upload_date, view_count, like_count, comment_count)VALUES(%s,%s,%s,%s,%s,%s);""")

  row_to_insert = (video_id, video_title, upload_date, view_count, like_count, comment_count)

  curr.execute(insert_into_videos, row_to_insert)

In [47]:
#update row if video exist
def update_row(curr, video_id, video_title, view_count, like_count, comment_count):
    query = ("""UPDATE videos
            SET video_title = %s,
                view_count = %s,
                like_count = %s,
                comment_count =%s
            WHERE video_id = %s;""")

    vars_to_update = (video_title, view_count, like_count, comment_count, video_id)
    curr.execute(query, vars_to_update)

In [48]:
#updating the db
#handling data for scalability
def update_db(curr, df):
    tmp_df = pd.DataFrame(columns=['video_id', 'video_title', 'upload_date', 'view_count', 'like_count', 'comment_count'])
#check to see if video exist
    for i, row in df.iterrows():
        if check_if_video_exist(curr, row['video_id']):#if video already exist then we will update
            update_row(curr, row['video_id'],row['video_title'], row['view_count'], row['like_count'], row['comment_count'])
        else:
            tmp_df = tmp_df.append(row)   #if the video does not exist we will append to the db
    return tmp_df

In [61]:
def append_from_df_to_db(curr,df):
  for i, row in df.iterrows():
    insert_into_table(curr, row['video_id'], row['video_title'], row['upload_date'], row['view_count'], row['like_count'], row['comment_count'])

In [67]:
df = pd.read_csv('youtube_1st_job_pull.csv', index_col=0)
df

,video_id,video_title,upload_date,view_count,like_count,comment_count
0,0oCTKn_tJ1U,What does a Clinical Data Analyst do,2021-04-06,11893,276,19
1,qcQoBXa0uZ8,What does a Healthcare Data Analyst Do,2021-03-30,32019,722,31
2,dO-F-DPKPpE,What&#39;s on my desk? Desk Tour 2021,2021-03-23,1174,45,6
3,cywuo3Jv0U0,Google Data Analytics Professional Certificati...,2021-03-16,19471,652,96
4,R5P3mN_IN10,How to Learn SAS Programming,2021-03-02,8414,160,17
5,67WmcW71f80,5 Data Analyst Tools for Non Programmers,2021-02-23,3075,129,11
6,mpdcu3V1jiI,3 Reasons to Practice Agile Analytics,2021-02-16,1618,61,3
7,tCq9GkQJnuw,Business Analyst Skills to Learn in 2021,2021-02-09,5397,219,14
8,UAW_YQ_zHZU,Data Analyst Certificate Programs - What to Lo...,2021-02-02,2647,130,12
9,g2xCl5FzJ0c,4 Reasons to Learn SAS for Analytics,2021-01-26,6460,148,18
10,1Tgjbc1VxXw,Can a Data Analyst Become a Business Analyst?,2021-01-19,1837,69,8
11,z3Rtz8qKTYA,Dataquest vs Datacamp,2021-01-12,12711,350,14
12,MH5L923Qc9Y,Data Analyst Skills to Learn in 2021,2021-01-05,4526,148,25
13,AgSvNx1Lg-c,Professional Goal Setting for 2021,2020-12-22,1029,48,6
14,uRVSm5sFvyo,Data Analytics Project Management Tools,2020-12-08,3542,81,3
15,VND7i4GfCRw,Data Analyst Master&#39;s Degrees - 3 Things t...,2020-12-01,4508,117,11
16,ryGDacgq_cU,Can a Business Analyst Become a Data Analyst?,2020-11-24,2543,98,6
17,8g3jLdG9TpI,Imposter Syndrome in Analytics,2020-11-17,1970,124,7
18,StPAyUAx6Wc,The Skill Most New Data Analysts Don&#39;t Have,2020-11-10,2896,134,4
19,6ezhk6Zauas,Bootcamp Income Share Agreements | Worth It?,2020-11-03,936,18,9
20,oEQjUGmtd54,Data Science Bootcamp Job Guarantees | Risk Fr...,2020-10-27,4033,101,16
21,HyVomWsWbTA,No Code Data Analytics,2020-10-20,3352,161,22
22,sk5S2SuqSt8,How to Learn Tableau,2020-10-13,6124,172,10
23,zeT5JPpV38c,3 Key Programming Skills for Data Analysts,2020-10-06,2238,134,10
24,OU6aUAX-qz0,10 Zoom Video Interview Tips,2020-09-29,5153,91,5
25,dLOZshvgFYY,How to Learn Data Analytics (if I was starting...,2020-09-22,66596,2576,66
26,XEYEpDmgTR8,How I Learned Data Analytics,2020-09-15,5255,195,22
27,LrwWC2yhMpQ,"Data Visualization in 1 min, 10 mins, 1 hour |...",2020-09-08,2250,108,8
28,cRmI_Kkrb8E,Data Governance Tutorial,2020-09-01,28456,814,25
29,Z1KJ-16Rfs0,Social Media Analytics,2020-08-25,17041,458,8
30,o0lTtJJnxAM,What Does a Financial Analyst Do,2020-08-18,106991,2584,124
31,rgNpuzYTihc,Data Visualization Jobs,2020-08-11,4666,123,14
32,kvHx5LN_nVE,How to Answer - What are Your Weaknesses - fo...,2020-08-04,8040,123,17
33,7Q_-Ygw2-ls,Remote Data Analyst Jobs,2020-07-28,12206,383,37
34,KG6EF9hWbRg,Data Engineer vs Data Scientist,2020-07-21,6192,187,18
35,9ajoMp8Y1_I,Excel for Data Analytics - Still Relevant?,2020-07-14,4267,209,25
36,1pYKZ7nHLP0,Qlik vs Tableau,2020-07-07,14259,190,17
37,noNekR7N8-4,Dataquest Review [2020] from a Data Scientist,2020-06-30,14007,409,78
38,DyssZBkhBlo,Data Analyst Certification,2020-06-23,13637,243,18
39,Fx53viW_Nzo,Data Analytics Now vs Then | 2005 - 2020,2020-06-16,2137,62,13
40,IUq3AoK4be8,Tableau Certification,2020-06-09,11785,201,19
41,-g3mXlNUeYU,Top 5 Free Dataset Sources,2020-06-03,21566,566,17
42,w2e9kPCLIG4,Tableau Interview Questions and Answers,2020-05-26,53251,1378,35
43,fqgVj5HchU8,Tableau vs Power BI,2020-05-19,41927,977,93
44,mGnyTNTc8-I,Critical Thinking Interview Questions and Answers,2020-05-12,19184,437,8
45,ISaxTdGogUg,Codecademy Review [2020] | from a Data Scientist,2020-05-05,64888,1718,132
46,AYwcradpNx4,Top 4 Business Analyst Career Paths,2020-04-28,21566,429,23
47,nohmqXKd--k,How to Become a Business Analyst in 2020,2020-04-21,37571,968,67
48,dHF5cP5BeoU,4 Unique Data Analytics Jobs,2020-04-14,3382,122,10

In [62]:
curr = conn.cursor()

In [63]:
create_table(curr)

In [64]:
new_vid_df = update_db(curr, df)

In [65]:
append_from_df_to_db(curr, new_vid_df)

In [66]:
conn.commit()